<div>
  <%= link_to "Categories", categories_path %>
</div>
<div>
  <%= link_to "Keywords", keywords_path %>
</div>
<div>
  <%= link_to "Statements", statements_path %>
</div>

Display current grocery, restaurant trend on graph compared to average.  Probably use a bar graph

<div id="visualization" style="width: 600px; height: 400px;"></div>
