<div>
  <%= link_to "Categories", categories_path %>
</div>
<div>
  <%= link_to "Keywords", keywords_path %>
</div>
<div>
  <%= link_to "Statements", statements_path %>
</div>

<div id="visualization" style="width: 600px; height: 400px;"></div>
