body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  margin-top: 0;
  text-align: center;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content, #header, #footer {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  width: 1000px;
}

#flash-messages {
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #FFF1A8;
  padding: 0.2em 0.8em;
}

#header {
  overflow: hidden;
}

#header h1 {
  float: left;
}

#header #top-navigation {
  float: right;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1em;
}

#header #top-navigation div {
  /*
  -moz-border-radius: 8px;
  border-radius: 8px;
  */
  border-left: 1px solid #AAA;
  float: left;
  padding: 0.7em;
}

#header #top-navigation div:last-child {

  border-right: 1px solid #AAA;
}

ul.ui-autocomplete {
  font-size: 0.9em;
  text-align: left;
}
